*.iml
**/target
**/node_modules

.idea
package-lock.json
docs/.vuepress/dist
**/dist
.classpath
.factorypath
.vscode
.settings
.project
vue-element-admin/
vue-admin-template/
vue-admin-template-tabnav/