<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds" debug="false">
	<!-- 应用名称 -->
	<contextName>api</contextName>

	<!-- 向控制台输出日志 -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-M-d HH:mm:ss} [%thread] %p [%logger{0}]:%L %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 向文件输出日志 -->
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/data/app/web-flash/runtime/log/api_%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>1000</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-M-d HH:mm:ss} [%thread] %p [%logger{0}]:%L %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<logger level="info" name="org.springframework.boot.autoconfigure.logging"  additivity="false">
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<!-- druid连接池的日志级别 -->
	<logger name="com.alibaba.druid" level="DEBUG" />

	<!-- snow_credit的日志级别 -->
	<logger name="cn.enilu.flash" level="DEBUG" />

	<!-- root级别的logger -->
	<root level="INFO">
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>
</configuration>