package ${packageName};

import ${table.basePackageName}.api.controller.BaseController;
import ${table.EntityFullClassName};
import ${table.ServiceFullClassName};

import ${table.basePackageName}.bean.core.BussinessLog;
import ${table.basePackageName}.bean.constant.factory.PageFactory;
import ${table.basePackageName}.bean.enumeration.BizExceptionEnum;
import ${table.basePackageName}.bean.exception.ApplicationException;
import ${table.basePackageName}.bean.vo.front.Ret;
import ${table.basePackageName}.bean.vo.front.Rets;

import ${table.basePackageName}.utils.factory.Page;


import org.apache.shiro.authz.annotation.RequiresPermissions;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;


@RestController
@RequestMapping("${table.UriPrefix}")
public class ${table.ControllerClassName} extends BaseController {
	private  Logger logger = LoggerFactory.getLogger(getClass());
	@Autowired
	private ${table.ServiceClassName} ${table.ServiceInstanceName};

	@GetMapping(value = "/list")
	@RequiresPermissions(value = "${table.entityNameLowerFirstChar}")
	public Ret list(@RequestParam(required = false) Long id) {
		Page<${table.EntityClassName}> page = new PageFactory<${table.EntityClassName}>().defaultPage();
		page.addFilter("id",id);
		page = ${table.ServiceInstanceName}.queryPage(page);
		return Rets.success(page);
	}
	@PostMapping
	@BussinessLog(value = "新增${table.Label}", key = "name")
	@RequiresPermissions(value = "${table.entityNameLowerFirstChar}Add")
	public Ret add(@RequestBody ${table.EntityClassName} ${table.entityNameLowerFirstChar}){
		${table.ServiceInstanceName}.insert(${table.entityNameLowerFirstChar});
		return Rets.success();
	}
	@PutMapping
	@BussinessLog(value = "更新${table.Label}", key = "name")
	@RequiresPermissions(value = "${table.entityNameLowerFirstChar}Update")
	public Ret update(@RequestBody ${table.EntityClassName} ${table.entityNameLowerFirstChar}){
		${table.ServiceInstanceName}.update(${table.entityNameLowerFirstChar});
		return Rets.success();
	}
	@DeleteMapping
	@BussinessLog(value = "删除${table.Label}", key = "id")
	@RequiresPermissions(value = "${table.entityNameLowerFirstChar}Delete")
	public Ret remove(Long id){
		if (id == null) {
			throw new ApplicationException(BizExceptionEnum.REQUEST_NULL);
		}
		${table.ServiceInstanceName}.delete(id);
		return Rets.success();
	}
}