package ${packageName};


import ${table.EntityFullClassName};
import cn.enilu.flash.dao.BaseRepository;


public interface ${table.RepositoryClassName} extends BaseRepository<${table.EntityClassName},Long>{

}

