package ${packageName};


import ${table.EntityFullClassName};
import ${table.basePackageName}.${table.repoPackageName}.${table.EntityClassName}Repository;

import ${table.basePackageName}.service.BaseService;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service
public class ${table.ServiceClassName} extends BaseService<${table.EntityClassName},Long,${table.RepositoryClassName}>  {
    private Logger logger = LoggerFactory.getLogger(getClass());
    @Autowired
    private ${table.RepositoryClassName} ${table.entityNameLowerFirstChar}Repository;

}

