import request from '@/utils/request'
export default {
    getList:function(params) {
        return request({
            url: '${table.UriPrefix}/list',
            method: 'get',
            params
        })
    },
    add:function(params) {
        return request({
            url: '${table.UriPrefix}',
            method: 'post',
            data: params
        })
    },
    update:function(params) {
        return request({
            url: '${table.UriPrefix}',
            method: 'PUT',
            data: params
        })
    },
    remove:function(id) {
        return request({
            url: '${table.UriPrefix}',
            method: 'delete',
            params: {
                id: id
            }
        })
    }
}
